:root {
    touch-action: pan-x pan-y;
    width: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    /*background-color: gray;*/
    background-color: #0c7702;
    background-size: 5%;
}

#ball-strokes {
    color: orange;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    left: 6%;
    top: 3%;
}

.game-overlay {
    display: none;
    background-color: aliceblue;
    width: 200px;
    height: 100px;
    transform: translate(-50%, -50%);
    border-radius: 15px;

    position: absolute;
    left: 50%;
    top: 50%;
}

.game-overlay p {
    color: aquamarine;
}

.game-overlay button {
    border-radius: 15px;
}
.game-overlay button:active {
    border-radius: 15px;
    background-color: cornflowerblue;
}

.show {
    display: block
}